<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML><HEAD><TITLE>
#ifdef DATABASE_DESC
##DATABASE_DESC##
#else
Gedafe
#endif
</TITLE>

<script>


function compareText (option1, option2) {
  return option1.text < option2.text ? -1 :
    option1.text > option2.text ? 1 : 0;
}
function compareValue (option1, option2) {
  return option1.value < option2.value ? -1 :
    option1.value > option2.value ? 1 : 0;
}
function compareTextAsFloat (option1, option2) {
  var value1 = parseFloat(option1.text);
  var value2 = parseFloat(option2.text);
  return value1 < value2 ? -1 :
    value1 > value2 ? 1 : 0;
}
function compareValueAsFloat (option1, option2) {
  var value1 = parseFloat(option1.value);
  var value2 = parseFloat(option2.value);
  return value1 < value2 ? -1 :
    value1 > value2 ? 1 : 0;
}
function sortSelect (select, compareFunction) {
  if (!compareFunction)
    compareFunction = compareText;
  var options = new Array (select.options.length);
  for (var i = 0; i < options.length; i++)
    options[i] = 
      new Option (
        select.options[i].text,
        select.options[i].value,
        select.options[i].defaultSelected,
        select.options[i].selected
      );
  options.sort(compareFunction);
  select.options.length = 0;
  for (var i = 0; i < options.length; i++)
    select.options[i] = options[i];
}

function move(theASel,theBSel)
{  
    theBSel[theBSel.options.length] = new Option(theASel.options[theASel.selectedIndex].text,theASel.options[theASel.selectedIndex].value,theASel.options[theASel.selectedIndex].defaultSelected,theASel.options[theASel.selectedIndex].selected);
    
    theASel[theASel.selectedIndex] = null;
    //sortSelect(theBSel,compareText);
}

function moveUp(theASel)
{  
    curentIndex = theASel.selectedIndex;
    prevIndex = curentIndex - 1;
    if (curentIndex > 0) {
        tempItem = new Array(2);
        tempItem[0] = new Option(theASel.options[prevIndex].text,theASel.options[prevIndex].value);
        tempItem[1] = new Option(theASel.options[curentIndex].text,theASel.options[curentIndex].value);
        
        theASel.options[curentIndex] = tempItem[0];
        theASel.options[prevIndex] = tempItem[1];
        theASel.options[prevIndex].selected = true;
    }
    
}

function moveDown(theASel)
{  
    curentIndex = theASel.selectedIndex;
    nextIndex = curentIndex + 1;
    if (curentIndex < theASel.options.length - 1) {
        tempItem = new Array(2);
        tempItem[0] = new Option(theASel.options[nextIndex].text,theASel.options[nextIndex].value);
        tempItem[1] = new Option(theASel.options[curentIndex].text,theASel.options[curentIndex].value);
        
        theASel.options[curentIndex] = tempItem[0];
        theASel.options[nextIndex] = tempItem[1];
        theASel.options[nextIndex].selected = true;
    }
    
}

function deselect(theCombo, index)
{
    var len = theCombo.options.length - 1;
    var temp;
    ind = index ;
    for( var i = 0; i < index ; i++ ){
          temp = theCombo.options[0];
          theCombo.options[0] = null;
          theCombo.options[len] = temp; 
          theCombo.options[len].selected = false;
    }
}

function selectMe(theCombo, searchValue)
{
    if (searchValue == "")
        sortSelect(theCombo,compareText);
    else{
    var n = theCombo.options.length;
    var comp = 0;
    var item = -1;
    var itemup = -1;
    var itemdown = -1;
    
    for ( var i=0 ; i< n; i++ ){
       if (theCombo.options[i].text >= searchValue){
            itemup = i;    
            break;  
       }
    }
    
    var top = getTop(theCombo);
    if (itemup == 0 && top>0 ){
        for ( var i=top ; i < n; i++ ){
           if (theCombo.options[i].text >= searchValue){
                item = i;    
                break;  
           }
        }
        if (item == n-1)
            item = itemup;
    }else
        item=itemup;
    
    deselect(theCombo, item);
    theCombo.selectedIndex = 0;
    theCombo.options[0].focus();
    theCombo.options[0].selected = true;
    }
}

function getTop(theCombo)
{
    var len = theCombo.options.length - 1;
    var minval = theCombo.options[0].text;
    var index = 0;
    
    if (minval > theCombo.options[len].text){
        for ( var i=0 ; i<len; i++ ){   
           if (theCombo.options[i+1].text < theCombo.options[i].text){
                index = i+1;    
                break;  
           }
        }
    }
    return index;
}



function selectALL(theCombo)
{
    for( var i = 0; i < theCombo.options.length; i++ ){
        theCombo.options[i].selected = true;
    }
}


</script>

</HEAD>
<BODY  text="#000000" link="#0000FF" 
#if ##USER## = admin

bgcolor="#ffee00"
#else

bgcolor="#ffffff" 

#endif
 vlink="#0000FF" alink="#FF0000">

<TABLE WIDTH="100%" CELLPADDING=2 BORDER=0 CELLSPACING=0 ><TR>
#ifdef DATABASE_DESC
  <TD WITH="100%"><FONT SIZE=6><B>##DATABASE_DESC##</B></FONT></TD>
#endif
#ifdef USER
  <TD>User: <B>##USER##</B></TD>
#endif

<TD ALIGN="RIGHT"><TABLE BGCOLOR="#a0a0a0" BORDER="0" CELLPADDING="0" CELLSPACING="0"><TR><TD>
<TABLE BORDER="0" CELLPADDING="5" CELLSPACING="1"><TR>
#ifdef ENTRY_URL
  <TD BGCOLOR="#ffffff"><A href="##ENTRY_URL##">Entry</A></TD>
#endif

#ifdef REFRESH_URL
  <TD BGCOLOR="#ffffff"><A href="##REFRESH_URL##">Refresh</A></TD>
#endif

#ifdef LOGOUT_URL
  <TD BGCOLOR="#ffffff"><A href="##LOGOUT_URL##">Logout</A></TD>
#endif

#ifdef DOCUMENTATION_URL
  <TD BGCOLOR="#ffffff"><A href="##DOCUMENTATION_URL##">Docs</A></TD>
#endif

#ifdef BOOKMARK_URL
  <TD BGCOLOR="#ffffff"><A href="##BOOKMARK_URL##"><IMG SRC="images/bookmark.gif" ALT="Bookmark" BORDER=0></A></TD>
#endif

  </TR></TABLE></TD></TR></TABLE></TD>

</TR></TABLE>
