<P>
<TABLE BGCOLOR="#a0a0a0" BORDER="0" ALIGN="CENTER" CELLPADDING="0" CELLSPACING="0">
#ifdef NUM_RECORDS
<TR><TD BGCOLOR="#ffffff" ALIGN=center>
Displaying records <B>##START_RECNUM## - ##END_RECNUM##</B> of <B>##NUM_RECORDS##</B>
</TD></TR>
#endif
<TR><TD>
<TABLE BORDER="0" CELLPADDING="5" CELLSPACING="1"><TR>

#ifdef NUM_RECORDS
<TD BGCOLOR="#ffffff" WIDTH=100 ALIGN=center>
#ifdef FIRST_URL
<A href="##FIRST_URL##">|&lt;- First</A>
#else
&nbsp;
#endif
</TD>
#endif
<TD BGCOLOR="#ffffff" WIDTH=100 ALIGN=center>
#ifdef PREV_URL
<A href="##PREV_URL##">&lt;-- Prev</A>
#else
&nbsp;
#endif
</TD>
#ifdef IS_REPORT
#else
<TD BGCOLOR="#ffffff" WIDTH=60 ALIGN="CENTER">
#ifdef ADD_URL
<A href="##ADD_URL##">ADD</A>
#else
&nbsp;
#endif
</TD>
#endif #IS_REPORT
<TD BGCOLOR="#ffffff" WIDTH=100 ALIGN=CENTER>
#ifdef NEXT_URL
<A href="##NEXT_URL##">Next --&gt;</A>
#else
&nbsp;
#endif
</TD>
#ifdef NUM_RECORDS
<TD BGCOLOR="#ffffff" WIDTH=100 ALIGN=center>
#ifdef LAST_URL
<A href="##LAST_URL##">Last -&gt;|</A>
#else
&nbsp;
#endif
</TD>
#endif

</TR></TABLE>
</TD></TR>
</TABLE>
</P>
